Package: com.neinzedd9.blinkbadge
Name: BlinkBadge
Depends: mobilesubstrate, ws.hbang.common, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Makes app notification badges blink
Maintainer: NeinZedd9
Author: NeinZedd9
Section: Tweaks
